body {
    display: grid;
    place-items: center;
    background: grey;
    
}


.sundaybest-logo{
    width: 1000px;
    
}

.dresses-photo{
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.dresses-photo:hover {
    opacity: 0.7;
    
}

.tops-photo{
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.tops-photo:hover{
    opacity: 0.7;
    
}

.buttoms-photo{
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.buttoms-photo:hover{
    opacity: 0.7;

}

.outfits-photo{
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.outfits-photo:hover{
    opacity: 0.7;
}

.assessories-photo{
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.assessories-photo:hover{
    opacity: 0.7;
}

.outerware-photo{
    border-radius: 10px;
    transition: all 150ms ease-in-out;
}

.outerware-photo:hover{
    opacity: 0.7;
}

.navigation-links {
    position: fixed;
    top: 0;
    padding: 35px 0;
}




button{
    background-color: white;
    border: 3px solid red;
    border-radius: 12px;
    padding: 14px 24px;
    width: 150px;
    font-size: 16px;

}



.title-container {
     display: flex;
    justify-content: space-evenly;
    background-image: url("https://assets.vogue.com/photos/5f74f7d208fdcc6598c7bb75/master/w_2560%2Cc_limit/_CIK0894.jpg"), url("blob: https: //outlook.live.com/75fb6fba-7d29-4aab-acd1-badf963e0851");
    background-size: cover;
    margin: 120px auto;
    max-width: 2000px;
    border-radius: 10px;
    padding: 30px 60px 30px;
    color: white;
    text-align: center;
    font-size: 25px;
    
}
   

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-animation{
    border-radius: 100%;
    animation: spin 1s linear ;
}



.collection-grid {
    display: grid;
    text-align: center;
    background-color: red;
    padding: 30px;
    border: 2px solid white;
    border-radius: 25px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 15px;
}

h1 {
    text-align: center;
}

.collection-grid img {
    width: 300px;
}

.collection-grid p {
    font-size: 25px;
}



.main-bio{
    text-align: center;
    background-color: white;
    border: 10px solid black;
    border-radius: 10px;
    
}






p {
    font-size: 20px;
}

.contact-stuff {
    text-align: center;
    background-color: white;
    border: 2px solid red;
    padding: 20px;
    border-radius: 25px;
}

footer {
    text-align: center;
    
}